{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="reset-container">
    <dir class="reset-header">
        <h1>Forgot your Password?</h1>
        <p>Enter the email you used to sign up below</p>
        <p>If your email is linked to an account we will send you instructions to reset your password</p>
    </dir>
    <div class="login-container reset-form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</div>

{% endblock %}