{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <div class="login-header">
            <h2 class="login-header-text">Set New Password</h2>
        </div>
        <div class="login-container">
            <label for="{{ form.username.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors}}
        </div>

        <div class="login-container">
            <label for="{{ form.password.id_for_label }}">Password</label>        
            {{ form.new_password2 }}
            {{ form.new_password2.errors}}
        </div>
        <button type="submit" class="login-button">Submit</button>
    </form>
</div>

{% endblock %}
