{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="form-container">
    <div class="login-header">
        <h2 class="login-header-text">New User Signup</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="login-container">
            <label for="{{ form.username.id_for_label }}">Email</label>
            {{ form.email }}
            <p>{{ form.email.errors }}</p>
        </div>
        <div class="login-container">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            <p>{{ form.username.errors }}</p>
        </div>
        <div class="login-container">
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password1 }}
        </div>
        <div class="login-container">
            <label for="{{ form.password.id_for_label }}">Confirm Password</label>
            {{ form.password2 }}
            <p>{{ form.password2.errors }}</p>
        </div>
        <button type="submit" class="login-button">Submit</button>

    </form>
</div>



{% endblock %}
