:root{
    --background:rgb(66, 68, 82);
    --foreground: rgb(43, 46, 71);
    --foreground-hover: rgb(86, 93, 160);
}

::placeholder{
    color: white;
    opacity: 1;
}

:-ms-input-placeholder{
    color: white;
}

::-ms-input-placeholder{
    color: white;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html{
    margin:0;
    padding:0;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    color: white;
    background-color: var(--foreground);
    display: block;
    border-radius: 0px 0px 12px 12px;
}

.navbar-brand{
    height: 40px;
}

.navbar-item{
    height: 40px;
    margin: 0px 5px;
    overflow: hidden;
    float: left;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 12px;
}

.navbar-item:hover{
    background-color: var(--foreground-hover);
}

.nav-link{
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

#navbar-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#navbar-icon:hover{
    background-color: transparent;
}

.brand-icon{
    height: 100%;
}

#expand{
    float: right;
    height: 100%;
}

#sign-in{
    float: right;
}

#search-nav{
    float: right;
}

#search-nav:hover{
    background-color: transparent;
}

#search-nav input{
    background-color: rgb(21, 22, 30);
    color: white;
    border-radius: 25px;
    border-color: rgb(91, 94, 110);
    border-width: 1px;
    height: 1em;
    width: 170px;
    height: 22px;
    padding: 0px 15px;
}

#search-nav button{
    background-color: rgb(21, 22, 30);
    color: white;
    border-radius: 12px;
    border-color: rgb(91, 94, 110);
    border-width: 1px;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
}

#navbar-title{
    font-size: 1rem;
    text-align: start;
    line-height: 40px;
    margin: 0;
}

.brand-text{
    height: 40px;
    margin: 0;
}

.navbar-expand{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--foreground);
    display: none;
}

.expanded{
    display: inline-block !important;
    position: relative;
    z-index: 1;
}

.expand-item{
    padding: 0px 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 36px;
    float: right;
    text-align: end;
}

#search-expand{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

#search-expand input{
    background-color: rgb(21, 22, 30);
    color: white;
    border-radius: 12px;
    border-color: rgb(91, 94, 110);
    border-width: 1px;
    height: 1em;
    width: 100vw;
    height: 22px;
    padding: 0px 5px;
}

#search-expand button:hover{
    cursor: pointer;
    background-color: rgb(157, 159, 170);
}

.index-page{
    display: block;
}

.collapse{
    display: none;
}

.collapse-sm{
    display: none;
}

.collapse-md{
    display: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content{
    padding-bottom: 1.5rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#main-search{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#main-search input{
    width: 75%;
    background-color: rgb(21, 22, 30);
    color: white;
    border-radius: 12px;
    border-color: rgb(91, 94, 110);
    border-width: 1px;
    padding: 0px 20px;
    height: 22px;
}

#main-search button{
    background-color: rgb(21, 22, 30);
    color: white;
    border-radius: 12px;
    border-color: rgb(91, 94, 110);
    border-width: 1px;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    margin-left: 5px;
}

#main-search button:hover{
    cursor: pointer;
    background-color: rgb(157, 159, 170);
}

.description{
    color: white;
    width: 75%;
    padding: 5px;
    margin: auto;
    text-align: center;
}

footer{
    width: 100%;
    background-color: var(--foreground);
    position: absolute;
    bottom: 0;
    text-align: justify;
    vertical-align: bottom;
    color: white;
    font-size: 0.45rem;
    height: 1.5rem;
}

.api-footer{
    float: left;
    padding: 0px 2px;
    width: 49%;
    line-height: 25px;
}

.api-footer a {
    text-decoration: none;
    color: rgb(88, 121, 199);
    cursor: pointer;
}

.created-footer{
    float: right;
    padding: 0px 2px;
    width: 49;
    line-height: 25px;
}

.expand-button{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    color: inherit;
}

.expand-button:hover{
    cursor: pointer;
    color: rgb(187, 134, 252);
}

.search-results{
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 5px;
}

.result{
    margin: 0;
    padding: 10px;
    border-radius: 12px;
}

.result:hover{
    padding: 0px;
}

.result-image{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.result a{
    width: 100%;
    height: 100%;
}

.result a:hover{
    cursor: pointer;
}

.card-header{
    color: white;
    width: 95%;
    min-height: 32px;
    height: auto;
    margin: auto;
    background-color: var(--foreground);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-lg{
    color: white;
    width: 85%;
    min-height: 32px;
    height: auto;
    margin: auto;
    background-color: var(--foreground);
    border-radius: 12px;
    display: none;
    justify-content: center;
    align-items: center;
}

.type-icon{
    height: 32px;
    margin: auto;
    
}

.card-title{
    width: 70%;
    margin: 0;
    float: left;
    height: auto;
}

.card-name{
    margin: 0;
    line-height: 36px;
    text-align: center;
}

.card-type{
    width: 25%;
    height: auto;
    margin: 0;
    float: right;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-image{
    width: 90%;
    background-size: cover;
    margin: auto;
}

.card-image{
    width: 100%;
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.separator{
    width: 85%;
    height: 2px;
    border: none;
    color: white;
    background-color: white; 
    border-radius: 12px;
    margin-top: 10px;
}

.lg{
    display: none;
}
.card-catagories{
    color: white;
    margin-top: 10px;
}

.card-catagories-lg{
    display: none;
}

.supertype{
    font-size: 1.25em;
}

.card-info{
    color: white;
    width: 100%;
}

.section-header{
    width: 100%;
    text-align: start;
    margin: 0;
    padding: 0;
}

.section-title{
    padding-left: 10px;
}

.attack-header-text{
    padding-left: 0;
    margin: 0;
}

.attack{
    margin-top: 10px;
}

.attack-details-header{
    width: 100%;
}

.attack-name{
    width: 100%;
    height: 32px;
}

.attack-name-text{
    margin: 0;
    padding-right: 10px;
    text-align: end;
}

.attack-cost{
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.abilities-wrapper{
    display: grid;
    grid-template-columns: auto;  
    margin: 0;  
    padding: 0;
}

.ability-header{
    padding: 5px 10px;
}

.ability-name{
    text-align: start;
    padding: 0 10px;
    margin: 0;
    font-size: 1.25em;
}

.ancient-trait-name{
    text-align: start;
    padding: 0 10px;
    margin: 0;
    font-size: 1.25em;
}

.attack-energy{
    height: 100%;
    padding: 5px;
}

.info-text-container{
    width: 100%;
    padding: 0px 30px;
}

.info-text{
    text-align: start;
    padding: 5px 10px;
    margin: 0;
}

.misc-info-block{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 5px;
}

.misc-info{
    padding: 5px;
    width: 125px;
    margin: 0px auto;
}

.misc-info-content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
    row-gap: 5px;
}

.card-container{
    width: 100%;
}

.misc-info-content span{
    width: 100%;
}

.misc-energy{
    height: 20px;
    margin: auto;
}

.info-section{
    width: 100%;
}

.misc-info-header{
    margin-bottom: 5px;
}

.misc-header-title{
    margin: 0;
    padding: 0;
}

.retreat-energy{
    height: 20px;
}

.single-info{
    grid-template-columns: auto !important;
}

.retreat-cost{
    grid-template-columns: auto auto auto auto !important;
    column-gap: 5px;
    width: 100%;
}

.green-check{
    color: green;
}

.red-x{
    color: red;
}

.set-view{
    color: white;
    display: block;
    grid-gap: 20px;
    padding: 5px;
    width: 100%;
}

.set{
    width: 300px;
    height: 350px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--foreground);
    border-radius: 25px;
    padding: 10px 10px;
}

.set:hover{
    background-color: var(--foreground-hover);
}

.set-image-container{
    height: 188px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.set-info-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 5px;
}

.set-logo{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.set-name{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.25em;
}

.release-date{
    line-height: 40px;
    text-align: center;
    font-size: 1.25em;
}

.set-symbol{
    margin: auto;
    max-width: 25%;
    max-height: 40px;
}

.series-name{
    color: white;
    margin: 0;
    font-size: 2em;
}

.series{
    margin: 70px 0px;
}

.page-title{
    color: white;
    font-size: 3em;
    margin: 0;
}

.title-separator{
    margin-bottom: 60px;
}

.set-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

@media screen and (min-width: 480px) {
    .collapse-sm{
        display: block;
    }

    #search-expand{
        display: none;
    }

    .content{
        padding: 0px 20px;
    }

    .misc-info{
        width: 220px;
    }

    .retreat-cost{
        width: 50%;
        margin: auto;
    }

    .set-name{
        font-size: 1.5em;
    }

}

@media screen and (min-width: 550px){

    .retreat-cost{
        width: 190px;
        margin: 0;
    }

    #search-nav input{
        width: 250px;
    }
}

@media screen and (min-width: 769px){
    .misc-info-content span{
        font-size: 1.25em;
    }


    .collapse-md{
        display: block;
    }

    #expand{
        display: none;
    }

    #search-nav input{
        width: 350px;
    }

    .content{
        padding: 0px 35px;
        margin-top: 10px;
    }

    .attack{
        padding: 0px 30px;
    }

    .card-info{
        font-size: 1em;
    }

    .card-name{
        font-size: 2em;
    }

    .set-name{
        font-size: 1.5em;
    }

    .set-view{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
}

@media screen and (min-width: 1025px){
    
    .search-results{
        grid-template-columns: auto auto auto auto;
    }

    .set-view{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
    }

    .card-container{
        display: grid;
        grid-template-columns: 500px auto;
        column-gap: 5px;
    }

    .card-info{
        background-color: var(--foreground);
        border-radius: 12px;
        padding: 10px 20px;
    }

    .attack{
        margin: 0;
    }

    .attack-name{
        height: auto;
    }

    .card-header{
        display: none;
    }

    .card-header-lg{
        display: flex;
    }

    .card-catagories{
        display: none;
    }

    .card-catagories-lg{
        display: block;
    }

    .lg{
        display: block;
    }

    .md{
        display: none;
    }

    #main-search input{
        font-size: 2em;
        height: 50px;
        border-radius: 25px;
    }

    #main-search button{
        height: 48px;
        width: 48px;
        border-radius: 25px;
        font-size: 1.75em;
    }

    .description{
        font-size: 2em;
    }
    
}

@media screen and (min-width: 1201px){
    .search-results{
        grid-template-columns: auto auto auto auto auto;
    }

    .set-view{
        width: 85%;
    }    

    .info-text-container,.misc-info-content{
        font-size: 1.25em;
    }
}

@media screen and (min-width: 1400px){
    .set-view{
        grid-template-columns: auto auto auto auto;
        width: 100%;
    }
    
    .card-container{
        grid-template-columns: 600px auto;
        font-size: 1.5em;
    }

    .misc-info-content span{
        font-size: 1em;
    }

    .card-header-lg{
        margin-top: 15px;
    }

    .card-catagories-lg{
        margin-top: 15px;
    }

    .misc-energy{
        height: 40px;
    }

    .retreat-energy{
        height: 30px;
    }

    .attack-energy{
        height: 40px;
    }

    .card-type{
        height: 45px;
    }

    .type-icon{
        height: 100%;
    }

    .attack-cost{
        height: 40px;
        margin-top: 5px;
    }

    .navbar{
        font-size: 1.75em;
        height: 60px;
    }
    
    .navbar-brand, .navbar-item{
        height: 60px;
    }

    #navbar-icon{
        width: 65px;
        margin: auto;
    }

    .navbar-item{
        line-height: 60px;
    }

    .brand-text{
        height: 60px;
        width: 100%;
        margin: auto;
    }

    #navbar-title{
        font-size: 1em;
        line-height: 60px;
        text-align: center;
    }

    #search-nav input{
        width: 400px;
        height: 30px;
        font-size: .75em;
    }
}

@media screen and (min-width: 1600px){
    .set-view{
        grid-template-columns: auto auto auto auto auto;
    }
}
